<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contribute to Studio Keys</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
</head>
<body class="bg-[#e0e0ce]">
    <h1 class="text-4xl  text-[#F08700] font-bold mt-4 text-center pagetext">Contribute to Studio Keys</h1>
    <h2 class="text-2xl text-green-600 text-center my-2 mx-auto max-w-xl">Do you have .studio design files? Do you want to help me make this program better?</h2>
    <div class="text-center mx-auto mt-6 text-lg max-w-5xl text-black">
       <p> Studio Keys was created to provide artists and graphic designers who used InVision with a way to regain access to their designs. While Studio Keys already handles a lot of design elements quite well, there are still many areas for improvement to make it more precise and to improve the quality of the mockups rendered. For example, you may have noticed instances of text elements overlapping on each other in one of your SVGs. That is something I am in the process of figuring out.
    </p>
    <p class="mt-4">The best (and arguably only) way that I've been able to create or make the program is by using a supply of .studio files to test the features and learn about how those files are structured and how to disassemble and re-assemble them. The more diverse a portfolio of .studio file samples I have, the more I can continue to refine this program. By contributing your files, you’ll be directly helping me enhance the program so that it can work better across different design styles, elements, and complexities. 
        </p>
        <p class="mt-4">        Your help is incredibly appreciated, and this is a small but impactful way to give back and help me make this a better application for everyone.
        </p>
        <p class="mt-4">Alternatively, if you'd just like to provide a few sentences of feedback on the application and your experience (positive or negative), it would still mean the world!</p>
    </div>
    <div class="text-center max-w-xl mx-auto mt-6">
        
        <p class="text-lg text-[#00A6A6] mt-4">
            If you're interested in contributing, please upload your file(s) in the google form below. Thank you! 
        </p>
        <div class="mt-4">
            <a href="https://forms.gle/TLcdb78jKBuuYfeW7" class="bg-blue-500 text-white px-4 py-2 rounded">
                Contribute your files
            </a>
        </div>
    </div>
    <div class="text-center mt-8">
        <a href="{{ url_for('index') }}" class="text-blue-600 underline">Return to Home</a>
    </div>
</body>
</html>
